.screen-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.screen-main-columns {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 60px);
}

.screen-main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px 25px 25px;
}

.screen-main-sidebar {
  padding: 20px 25px 25px;
  width: 400px;
  background-color: whitesmoke;
}
.screen-main-sidebar h2 {
  margin-top: 0;
}