.console-form-rest {
  display: none;
}

.console-form-rest.expanded {
  display: block;
}

.console-form-rest.expanded .form-row {
  margin-bottom: 10px;
}

.console-form textarea {
  width: 100%;
}
