.console-form-rest {
  display: none;
}

.console-form-rest.expanded {
  display: block;
}

.console-form-rest.expanded .form-row {
  margin-bottom: 25px;
  width: 100%;
}

.console-form-rest.expanded label {
  min-width: 8em;
}
.console-form-rest.expanded input:not(.ReactTags__tagInputField) {
  border: 1px solid #c4c4da;
  border-radius: 6px; 
  width: 100%;
  outline: none;
}

.console-form textarea {
  width: 100%;
  border: 1px solid #c4c4da;
  border-radius: 6px;
  padding: 10px;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
}

.console-form-item {
  width: 100%;
}

.file-drop-area {
  background-color: #fff;
  border: 1px solid #c4c4da;
  border-radius: 6px;
  color: #c4c4da;
  font-size: 20px;
  font-weight: bold;
  padding: 30px;
  text-align: center;
  width: 100%;
}
