.nav-bar {
  align-items: center;
  display: flex;
  height: 60px;
  left: 0;
  padding: 10px 15px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #2e3192;
  color: white;
}

.nav-bar-instead {
  flex-shrink: 0;
  height: 60px;
}

.nav-bar .btn-user-settings,
.nav-bar .btn-sign-out {
  background-color: white;
  border: none;
  padding: 6px 15px;
  border-radius: 6px;
  margin-right: 20px;
  font-size: 15px;
  width: 100px;
  cursor: pointer;
}

.nav-bar-item {
  margin-right: 50px;
}
.user-info-label {
  font-weight: 700;
  font-size: 18px;
  margin-right: 8px;
}

.nav-bar-item {
  position: relative;
}

.nav-bar-icon {
  border: 2px solid #fff;
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: calc(50% - 20px);
  width: 40px;
}

.nav-bar-icon + * {
  padding-left: 55px;
}
